

<h1>Welcome to your Curated Task Hammer List, <%= current_user.name%>!</h1>

<% @tasks.each do |task| %>
    <h2><%=task.task_name%></h2>
    <p><%=task.task_type%></p>
    <p><%=task.task_content%></p>
    <p><%=task.completed%></p>
    <p><%=task.date_due%></p>
<% end %>
