

<h1>Welcome to your Curated Task Hammer List, <%= current_user.name%>!</h1>

<% if @tasks == nil %>
    <br>

    </br>
    <h2>You are have Hammered all of your tasks! Congrats!</h2>
<% else %>
    <% @tasks.each do |task| %>
        <h2>Task Type: <%=task.task_type%></h2>
        <h3>Description: <%=task.task_name%>- <%=task.task_content%> </h3>
        <p>Due By: <%=task.date_due%></p>
        <%if task.completed == false%>
            <p><%= "Still needs Hammering" %></p>
        <%else%>
            <p><%= "This Task has been Hammered!" %></p>
        <%end%>
    <% end %>
<% end %>


#Drop the Hammer button for when you complete a task