

<h1>Welcome, <%= current_user.name %> </h1>
<h2>to your Curated Task Hammer List !</h2>

<% if @tasks == [] || @tasks == nil %>
    <br>
    </br>
    <h3>You have Hammered all of your tasks! Congrats!</h3>
<%else%>
    <%if task.completed == false %>
    <% @tasks.each do |task| %>
        <h4>Task Type: <%= task.task_type%></h4>
        <h4>Description: <%= task.task_name%>- <%=task.task_content%> </h4>
        <p>This task still needs hammering!</p> 
    <%end%>                          
<%end%>
        <a href="/tasks/<%=task.id%>" class="button1">Update Task</a>
    <% end %>       
<% end %>
<br>

</br>
<a href="/tasks/new" class="button1">Create a New Task</a>


